<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Form</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <h1>Order Form</h1>
    <a href="/orders">See all orders</a>
    <form method="POST" action="receipt">
        <label>Customer Name: <input name="customer_name" required placeholder="customer name" /></label>
        <button type="submit">Submit Order</button>
    </form>
    <script src="main.js"></script>
</body>
</html>